<html>
    <head>
        <title>Cloudlamb Curso con git</title>
    </head>

    <body>
        <h1>Bienvenido a CloudLamb con flask</h1>
        
        <h2>Un gusto conocerte: {{name}}</h2>

        <p>
            Este parrafo esta en development
        </p>

        <p>mostrar solo a los usuarios nuevos</p>
<<<<<<< HEAD
        <p>MASTER</p>
=======
        TESTEADO
>>>>>>> testing
    </body>

</html>